<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyCredo_E2E" parallel="tests" thread-count="1">
    <test name="E2ETest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="E2ETest">
            </class>
        </classes>
    </test>
</suite>